<%- include('../layouts/header.ejs') %>

    <style>
        body {
            background-color: #f8f9fa;
        }

        .container-bigDiv {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-top: 20px;
            margin-bottom: 50px;
        }

        .order-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 2px solid #ddd;
            /* border-bottom:  1px solid #ddd; */
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 8px;
            transition: background-color 0.3s ease;
        }

        .order-row:hover {
            background-color: #f0f0f0;

        }

        .order-details {
            flex: 1;
            margin-left: 20px;
        }

        .order-details h5 {
            color: #055d2a;
        }

        .order-details p {
            margin-bottom: 8px;
        }

        .btn-dark {
            background-color: #141d26;
            color: #ffffff;
        }

        .btn-dark:hover {
            background-color: #162637;
            border-color: #ffffff;
        }

        .status-div {
            background-color: #ecf0f1;
            padding: 15px;
            border-radius: 8px;
            width: 300px;
            display: inline-block;
        }

        .status-p {
            margin: 0;
        }

        strong {
            font-weight: bold;
            color: #333;
        }

        .status-select {
            padding: 10px;
            font-size: 14px;
            border: 1px solid #bdc3c7;
            border-radius: 5px;
            width: 100%;
            appearance: none;
            background-color: #fff;
            color: #333;
            cursor: pointer;
            transition: border-color 0.3s, background-color 0.3s;
        }

        .status-select:hover {
            border-color: #7f8c8d;
        }

        .status-select:focus {
            outline: none;
            border-color: #3498db;
        }

        /* Optional: Add some spacing between the label and the dropdown */
        .status-p strong {
            margin-right: 10px;
        }

        /* address div style */
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
        }

        .address-box {
            background-color: #ffffff;
            border: 1px solid #e1e1e1;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 300px;
            margin: 20px auto;
        }

        .address-box h2 {
            color: #333;
            margin-bottom: 10px;
        }

        .address-details p {
            margin: 5px 0;
            color: #555;
        }

        strong {
            font-weight: bold;
            color: #333;
        }

        #h5-status {
            color: red;
        }
    </style>





    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a href="./index.html" class="text-nowrap logo-img">
                        <img src="../assets/images/logos/ShoeOne-Logo.png" width="180" alt="" />
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Home</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/dashboard" aria-expanded="false">
                                <span>
                                    <i class="ti ti-layout-dashboard"></i>
                                </span>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link " href="/admin/customersList" aria-expanded="false">
                                <span>
                                    <i class="ti ti-user-plus"></i>
                                </span>
                                <span class="hide-menu">Customers</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link " href="/admin/category" aria-expanded="false">
                                <span>
                                    <i class="ti ti-article"></i>
                                </span>
                                <span class="hide-menu">Categories</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/product" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-layer-group"></i>
                                </span>
                                <span class="hide-menu">Products</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link active" href="/admin/user-Orders" aria-expanded="false">

                                <span>
                                    <i class="ti ti-file-description"></i>
                                </span>
                                <span class="hide-menu">Orders</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./ui-typography.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-cards"></i>
                                </span>
                                <span class="hide-menu">Payments</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/logout" aria-expanded="false">
                                <span>
                                    <i class="ti ti-login"></i>
                                </span>
                                <span class="hide-menu">Logout</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <header class="app-header">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item d-block d-xl-none">
                            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse"
                                href="javascript:void(0)">
                                <i class="ti ti-menu-2"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                                <i class="ti ti-bell-ringing"></i>
                                <div class="notification bg-primary rounded-circle"></div>
                            </a>
                        </li>
                    </ul>
                    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                        <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                            <a href="https://adminmart.com/product/modernize-free-bootstrap-admin-dashboard/"
                                target="_blank" class="btn btn-primary">Profile</a>
                            <li class="nav-item dropdown">
                                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="../assets/images/profile/user-1.jpg" alt="" width="35" height="35"
                                        class="rounded-circle">
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
                                    aria-labelledby="drop2">
                                    <div class="message-body">
                                        <a href="javascript:void(0)"
                                            class="d-flex align-items-center gap-2 dropdown-item">
                                            <i class="ti ti-user fs-6"></i>
                                            <p class="mb-0 fs-3">My Profile</p>
                                        </a>
                                        <a href="javascript:void(0)"
                                            class="d-flex align-items-center gap-2 dropdown-item">
                                            <i class="ti ti-mail fs-6"></i>
                                            <p class="mb-0 fs-3">My Account</p>
                                        </a>
                                        <a href="javascript:void(0)"
                                            class="d-flex align-items-center gap-2 dropdown-item">
                                            <i class="ti ti-list-check fs-6"></i>
                                            <p class="mb-0 fs-3">My Task</p>
                                        </a>
                                        <a href="./authentication-login.html"
                                            class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- //User Details Page -->
            <div class="container-fluid">

                <!-- <%= orderData._id %> -->

                <div class="container">

                    <input type="hidden" value="<%= orderData %>" name="orderdata">

                    <div class="container-bigDiv">
                        <h1 class="mt-5 mb-4 text-center"><b>ORDER DETAILS</b></h1>

                        <!-- address start -->
                        <div class="address-box">
                            <h2 class="text-center "><u>Shipping Address :</u></h2><br>
                            <div class="address-details ">
                                <p>Name: <strong>
                                        <%= orderData.shippingAddress.fullname %>
                                    </strong> </p>
                                <p>Mobile: <strong>
                                        <%= orderData.shippingAddress.mobile %>
                                    </strong> </p>
                                <p>Address: <strong>
                                        <%= orderData.shippingAddress.address %>
                                    </strong> </p>
                                <p>Pincode: <strong>
                                        <%= orderData.shippingAddress.pincode %>
                                    </strong> </p>
                                <p>City: <strong>
                                        <%= orderData.shippingAddress.city %>
                                    </strong> </p>
                                <p>State: <strong>
                                        <%= orderData.shippingAddress.state %>
                                    </strong> </p>

                            </div>
                        </div>
                        <!-- address end -->


                        <!-- order detail products start -->
                        
                        <input type="hidden" name="order" value="<%= orderData %>">
                        <% for (const product of orderData.products) {%>
                            <div class="order-row">

                                <img src="/Image/<%= product.productId.image[0] %>" class="img-fluid"
                                    alt="Product Image" style="width: 180px; height: 200px; border-radius: 7px;">
                                <div class="order-details">
                                    <!-- <div class="border-btm"> -->
                                        
                                    <h5>
                                        <%= product.productId.productName %>
                                    </h5>
                                    <p>
                                        <strong>OrderID:</strong>&nbsp;<%= orderData._id %> <br>
                                        <strong>Quantity:</strong>&nbsp; <%= product.quantity %><br>
                                            
                                            <strong>Price:</strong>&nbsp; ₹<%= product.unitPrice  %> /- <br>
                                                <strong>Total Price:</strong>&nbsp; ₹<%= product.unitPrice * product.quantity %> /-
                                                    <br>
                                                    <strong>Ordered On:</strong>&nbsp;
                                                    <%=orderData.orderDate.toLocaleString('en-AU',{year:"numeric",month:"2-digit",day:"2-digit"})%>
                                                        <br>      
                                                        
                                                        
                                    </p><br>
                                    <!-- </div> -->
                                    <div class="status-div">
                                        <p class="status-p">
                                            <strong>Status:</strong>&nbsp;
                                            <span id="orStatus">

                                                <% if (product.ProductOrderStatus === 'Cancelled' || product.ProductOrderStatus === 'Returned') { %>
                                                    <h5 id="h5-status"><%= product.ProductOrderStatus %></h5> 

                                                 <% } else { %>

                                                <select class="status-select statusOption" name="ProductOrderStatus" id="setStatus" data-proId="<%= product.productId._id %>" data-orderId="<%= orderData._id %>">
                                                    <% if (product.ProductOrderStatus === 'pending') { %>
                                                        <option value="pending" selected>Pending</option>
                                                    <% } else { %>
                                                        <option value="pending">Pending</option>
                                                    <% } %>
                                                
                                                    <% if (product.ProductOrderStatus === 'processed') { %>
                                                        <option value="processed" selected>Processed</option>
                                                    <% } else { %>
                                                        <option value="processed">Processed</option>
                                                    <% } %>
                                                
                                                    <% if (product.ProductOrderStatus === 'shipping') { %>
                                                        <option value="shipping" selected>Shipping</option>
                                                    <% } else { %>
                                                        <option value="shipping">Shipping</option>
                                                    <% } %>
                                                
                                                    <% if (product.ProductOrderStatus === 'delivered') { %>
                                                        <option value="delivered" selected>Delivered</option>
                                                    <% } else { %>
                                                        <option value="delivered">Delivered</option>
                                                    <% } %>
                                                </select>
                                                
                                                 <% } %>
                                               
                                            </span>
                                        </p>
                                    </div>


                                </div>

                            </div>
                        
                            <%}%>
                    </div>

                    <!-- order detail products end -->

                </div>



            </div>
        </div>
    </div>



<script>
    document.addEventListener("DOMContentLoaded", function () {
  document.querySelectorAll('.statusOption').forEach((optionSt,index) => {
    optionSt.addEventListener('change', statusOp);

    async function statusOp(event) {
      let orderStatus = event.currentTarget;
      let productStatus = orderStatus.value;
      let orderID = optionSt.getAttribute('data-orderId');
      let productID = optionSt.getAttribute('data-proId');

      // Debugging statements
      console.log('productStatus:', productStatus);
      console.log('orderID:', orderID);
      console.log('productID:', productID);

      try {
        const response = await fetch('/admin/statusChange', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ productID, productStatus, orderID })
        });

        const data = await response.json();

        if (data.message) {
          // Handle success
          console.log("Product added to cart");
          Swal.fire({
            position: "center",
            icon: "success",
            title: data.message,
            showConfirmButton: false,
            timer: 1500
          });
          setTimeout(function () {
                        location.reload()
                    }, 1000);

        } else {
          Swal.fire({
            position: "center",
            icon: "info",
            title: data.msg,
            showConfirmButton: false,
            timer: 1500
          });
        }
      } catch (error) {
        // Handle error
        console.error(error);
      }
    }
  });
});


</script>


    
    <!-- <script>

document.addEventListener("DOMContentLoaded", function() {

  document.querySelectorAll('.statusOption').forEach((optionSt) => {
    optionSt.addEventListener('click', statusOp);

            async function statusOp() {

                let orderStatus = document.getElementById("setStatus");
                let productStatus =  orderStatus.innerText;

                let prodID = optionSt.getAttribute('data-prodId');

                try {
                    const response = await fetch('/statusChange', {
                        method: 'PATCH',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ prodID ,productStatus})
                    });

                    const data = await response.json();

                    if (data.message) {
                        // Handle success
                        console.log("Product added to cart");
                        // alert(data.message)
                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: data.message,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }else{
                        Swal.fire({
                            position: "center",
                            icon: "info",
                            title: data.msg,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                } catch (error) {
                    // Handle error
                    console.error(error);
                }
            }
        });
});




    </script> -->

    <%- include('../layouts/footer.ejs') %>