<%- include('../layouts/header.ejs') %>

<style>
 

.container1 {
    margin-top: 30px;
}

.table th,
.table td {
    text-align: center;
    font-size: 14px;
}

.table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

.table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.table tbody tr:hover {
    background-color: #e8e8e8;
}

.table-bordered th,
.table-bordered td {
    border-color: #dee2e6;
}

.table-bordered thead th {
    background-color: #3ba20f;
    color: #ffffff;
    border-bottom: 2px solid #e0e0e0;
}

.table-responsive {
    overflow-x: auto;
}

.btn-details {
    background-color: #007bff;
    color: #ffffff;
    border: 1px solid #007bff;
    transition: background-color 0.3s ease;
}

.btn-details:hover {
    background-color: #0056b3;
}

/* Optional: Customize other elements as needed */
h2 {
    color: #343a40;
}

.bigDiv {
    margin-top: 50px;
    margin-bottom: 55px;
}

.headerH2 {
    margin-bottom: 60px;
    font-weight: 700;
   
    text-decoration: underline;
}

#btnPage {
    color: rgb(241, 241, 241);
    background-color: rgb(30, 26, 65);
    
    padding-right: 6px;
    border-radius: 20px;
    border: 1px solid black;
}
#btnPage:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

</style>

    



    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a href="./index.html" class="text-nowrap logo-img">
                        <img src="../assets/images/logos/ShoeOne-Logo.png" width="180" alt="" />
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Home</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/dashboard" aria-expanded="false">
                                <span>
                                    <i class="ti ti-layout-dashboard"></i>
                                </span>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link " href="/admin/customersList" aria-expanded="false">
                                <span>
                                    <i class="ti ti-user-plus"></i>
                                </span>
                                <span class="hide-menu">Customers</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/Sales-page-Date" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </span>
                                <span class="hide-menu">Sales Report</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link " href="/admin/category" aria-expanded="false">
                                <span>
                                    <i class="ti ti-article"></i>
                                </span>
                                <span class="hide-menu">Categories</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/product" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-layer-group"></i>
                                </span>
                                <span class="hide-menu">Products</span>
                            </a>
                        </li>


                        <li class="sidebar-item">
                            <a class="sidebar-link " href="/admin/couponAdmin" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-tag"></i>
                                </span>
                                <span class="hide-menu">Coupon</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link " href="/admin/offerPage" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-percent"></i>
                                </span>
                                <span class="hide-menu">Offers</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link active" href="/admin/user-Orders" aria-expanded="false">

                                <span>
                                    <i class="ti ti-file-description"></i>
                                </span>
                                <span class="hide-menu">Orders</span>
                            </a>
                        </li>


                        

                        <!-- <li class="sidebar-item">
                            <a class="sidebar-link" href="./ui-typography.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-cards"></i>
                                </span>
                                <span class="hide-menu">Payments</span>
                            </a>
                        </li> -->
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/logout" aria-expanded="false">
                                <span>
                                    <i class="ti ti-login"></i>
                                </span>
                                <span class="hide-menu">Logout</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <header class="app-header">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item d-block d-xl-none">
                            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse"
                                href="javascript:void(0)">
                                <i class="ti ti-menu-2"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                                <i class="ti ti-bell-ringing"></i>
                                <div class="notification bg-primary rounded-circle"></div>
                            </a>
                        </li>
                    </ul>
                    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                        <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                            <a href="https://adminmart.com/product/modernize-free-bootstrap-admin-dashboard/"
                                target="_blank" class="btn btn-primary">Profile</a>
                            <li class="nav-item dropdown">
                                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="../assets/images/profile/user-1.jpg" alt="" width="35" height="35"
                                        class="rounded-circle">
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
                                    aria-labelledby="drop2">
                                    <div class="message-body">
                                        <a href="javascript:void(0)"
                                            class="d-flex align-items-center gap-2 dropdown-item">
                                            <i class="ti ti-user fs-6"></i>
                                            <p class="mb-0 fs-3">My Profile</p>
                                        </a>
                                        <a href="javascript:void(0)"
                                            class="d-flex align-items-center gap-2 dropdown-item">
                                            <i class="ti ti-mail fs-6"></i>
                                            <p class="mb-0 fs-3">My Account</p>
                                        </a>
                                        <a href="javascript:void(0)"
                                            class="d-flex align-items-center gap-2 dropdown-item">
                                            <i class="ti ti-list-check fs-6"></i>
                                            <p class="mb-0 fs-3">My Task</p>
                                        </a>
                                        <a href="./authentication-login.html"
                                            class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- //User Details Page -->
            <div class="container-fluid">

                <div class="container">

                            <input type="hidden" value="<%= orderData %>" name="orderdata">

                            <div class="container bigDiv">
                                <h2 class="text-center mb-4 headerH2">Orders</h2>
                                <div class="table-responsive">
                                    <table class="table table-bordered ">
                                        <thead>
                                            
                                            <tr>
                                                <!-- <th class="text-white">Sl No</th> -->
                                                <th class="text-white">Ordered Date</th>
                                                <th class="text-white">Order ID</th>
                                                <th class="text-white">Name</th>
                                                <th class="text-white">Total Amount</th>
                                                <th class="text-white">Product Name</th>
                                                <th class="text-white">Payment</th>
                                               
                                                <th class="text-white">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- <% let slno = 1 %> -->
                                        
                                            <% for (const order of orderData) { %>
                                                <tr>
                                                    <!-- <td><%= slno %></td> -->
                                                    <td><%= order.orderDate.toLocaleString('en-AU',{year:"numeric",month:"2-digit",day:"2-digit"}) %></td>
                                                    <td>
                                                        <%= order._id %> <br>
                                                    </td>
                                                    <td>
                                                        <%= order.shippingAddress.fullname %> <br>
                                                    </td>
                                                    
                                                    
                                                    <td>₹<%= order.totalAmount %></td>
                                                    <td>
                                                    
                        
                                                        <% for (const product of order.products) { %>
                                                           
                                                           <b>-</b>   <%= product.productId.productName %>  (Qty: <%= product.quantity %>)<br>
                                                           
                                                        <% } %>
                                                    </td>

                                                    <!-- <td>
                                                        <% for (const product of order.products) { %>
                                                            <img src="/Image/<%= product.productId.image[0] %>" alt="<%= product.productId.productName %>" style="max-width: 50px; border-radius: 5px; margin-bottom: 3px;">&nbsp;&nbsp;
                                                        <% } %>
                                                    </td> -->
                                                    <td><%= order.paymentMethod %></td>
                                                    <td><a href="/admin/order-info?id=<%=order._id%>" class="btn btn-warning" >Manage </i></a></td>

                                                </tr>
                                                <!-- <% slno++; %> -->
                                            <% } %>
                                        </tbody>
                                        
                                        
                                        
                                    </table>

                                    <div class="text-center">
                                        <% for(let j=1 ; j <=totalPage ; j++) {%>
        
                                            <a class="btn" id="btnPage" href="?page=<%= j %>">
                                                <%= j %> &nbsp;&nbsp;
                                            </a>
        
                                            <%}%>
                                    </div>
                                </div>
                            </div>
                            
                </div>



            </div>
        </div>
    </div>


    
    <!-- search -->
    <script>


    </script>

    <%- include('../layouts/footer.ejs') %>