<%- include('../layouts/header.ejs') %>

    <style>
        /* Add any additional styles as needed */
        .qty-form-control {
            width: 40px;
            /* Set the width as needed */
            text-align: center;
        }

        .qnty {
            padding: 0 3px 2px 3px;
            border-radius: 5px;
            border: 0;
            font-weight: 700;
            background-color: rgb(200, 200, 200);
            margin: 0 4px;

        }

        .qnty:hover {
            background-color: rgb(189, 208, 208);
        }

        .qtyin {
            border-radius: 4px;
        }

        .empty-cart-image {
        width: 100%;
        max-height: 350px;
        object-fit: contain; /* This property ensures that the image retains its aspect ratio and covers the entire container */
    }
    </style>


    <!-- Page Preloder -->
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <!-- <a href="#">FAQs</a> -->
            </div>

        </div>
        <div class="offcanvas__nav__option">
            <!-- <a href="#" class="search-switch"><img src="/img/icon/search.png" alt=""></a> -->
            <a href="#"><img src="/img/icon/heart.png" alt=""></a>
            <!-- <a href="#"><img src="/img/icon/cart.png" alt=""> </a> -->
            <a  href="./cart"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
                <% if (typeof cartItemCount !== 'undefined' && cartItemCount > 0) { %>
                    <span class="position-absolute top-0 start-100 translate-middle px-1 border border-light rounded-circle" style="background-color: red; font-size: 10px">
                        <%= cartItemCount %>
                        <span class="visually-hidden">New alerts</span>
                    </span>
                <% } %>
            </a>

            <a href="/profile"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                    <path
                        d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z" />
                </svg></a>

        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Enjoy your shopping with us...</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Enjoy your each shopping with us...</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="#">Sign in</a>
                                <!-- <a href="#">FAQs</a> -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./home">
                            <h2 class="ShoeOne-head">ShoeOne</h2>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="./home">Home</a></li>
                            <li><a href="./shop">Shop</a></li>
                            <li><a href="./about">About Us</a></li>


                            <li><a href="./contact">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <!-- <a href="#" class="search-switch"><img src="/img/icon/search.png" alt=""></a> -->
                        <a href="#"><img src="/img/icon/heart.png" alt=""></a>
                        <!-- <a href="#"><img src="/img/icon/cart.png" alt=""> </a> -->
                        <a  href="./cart"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
                            <% if (cartItemCount > 0) { %>
                                <span class="position-absolute top-0 start-100 translate-middle px-1 border border-light rounded-circle" style="background-color: red; font-size: 10px">
                                    <%= cartItemCount %>
                                    <span class="visually-hidden">New alerts</span>
                                </span>
                            <% } %>
                        </a>

                        <a href="/profile"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                                <path
                                    d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z" />
                            </svg></a>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="./home">Home</a>
                            <a href="./shop">Shop</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <% if(typeof message1 !=='undefined' ) { %>
        <div class="alert alert-warning text-center mb-4">
            <%= message1 %>
        </div>
        <% } %>



    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <% if (typeof cart !== 'undefined' && cart?.products && cart?.products?.length > 0) { %>
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <!-- <% if (cart && cart.products && cart.products.length > 0) { %> -->
                            <table>
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Iterate through the cart items when the cart is not empty -->
                                    <% cart.products.forEach((product) => { %>
                                        <tr id="td1_<%= product.productId._id %>">
                                            <input type="hidden" name="stock" value="<%= product.productId.stock %>">
                                            <td class="product__cart__item">
                                                <div class="product__cart__item__pic">
                                                    <img src="/Image/<%= product.productId.image[0] %>"
                                                        style="height: 100px; width: 95px;" alt="">
                                                </div>
                                                <div class="product__cart__item__text">
                                                    <h6><%= product.productId.productName %></h6>
                                                    <h5>₹<%= product.productId.Price %>/-</h5>
                                                </div>
                                            </td>
                                            <td class="quantity__item">
                                                <div class="quantity">
                                                    <button class="cart-qnt-plus qnty text-center"
                                                        data-product-id="<%= product.productId._id %>" type="button"
                                                        data-state="decrease">-</button>
                                                    <input type="text" name="qty" class="qty-form-control qtyin"
                                                        data-product-id="<%= product.productId._id %>"
                                                        value="<%= product.quantity %>" readonly>
                                                    <button class="cart-qnt-minus qnty text-center"
                                                        data-product-id="<%= product.productId._id %>" type="button"
                                                        data-state="increase"
                                                        data-stock="<%= product.productId.stock %>">+</button>
                                                </div>
                                            </td>
                                            <td class="cart__price" id="totalPriceQty_<%= product.productId._id %>">₹<%=
                                                product.productId.Price * product.quantity %></td>
                                            <td class="cart__close"><i class="fa fa-close" data-product-id="<%= product.productId._id %>"
                                                    style="cursor: pointer;"></i></td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        <!-- <% } else { %>
                           
                            <h2>Your cart is empty.</h2>
                        <% } %> -->
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="/shop">Continue Shopping</a>
                            </div>
                        </div>
                        <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn update__btn">
                                <a href="#"><i class="fa fa-spinner"></i> Update cart</a>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- <div class="cart__discount">
                        <h6>Discount codes</h6>
                        <form action="#">
                            <input type="text" placeholder="Coupon code">
                            <button type="submit">Apply</button>
                        </form>
                    </div> -->
                    <div class="cart__total">
                        <h6>Cart total</h6>
                        <ul>
                            <li >Subtotal <span id="subtotal">₹<%= cartTotal%></span></li>
                            <li >Total <span id="total">₹<%= cartTotal%></span></li>
                        </ul>
                        <a href="/checkout" class="primary-btn  proceed-to-checkout" onclick="pop()">Proceed to checkout</a>
                    </div>
                </div>
            </div>
            <% } else { %>
                <!-- Show a message when the cart is empty -->
                
                <img src="/img/shopping-cart/empty-cart.png" class="empty-cart-image" alt="Empty Cart">
                <div class="col-lg-6 col-md-6 col-sm-6c text-end">
                    <div class="continue__btn ">
                        <a href="/shop">Continue Shopping</a>
                    </div>
                </div>
            <% } %>
        </div>
    </section>
    <!-- Shopping Cart Section End -->


    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#">
                                <h2 class="ShoeOne-foot">ShoeOne</h2>
                            </a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="/img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->


    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>

    <script>
        // let stockQty
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('button[data-product-id]').forEach((button) => {
                const productId = button.getAttribute('data-product-id');
                const quantityInput = button.parentElement.querySelector('.qty-form-control');

                button.addEventListener('click', (event) => {
                    const action = button.getAttribute('data-state');
                    // console.log(action);
                    if (action !== 'decrease' && action !== 'increase') {
                        return; // Only proceed for valid actions
                    }

                    if (!quantityInput) {
                        console.error('quantityInput is null or undefined');
                        return;
                    }

                    const currentQuantity = parseInt(quantityInput.value, 10);
                    // console.log(currentQuantity);
                    const stockQty = button.getAttribute('data-stock')
                    if (currentQuantity == stockQty) {
                        alert('No stockkk')
                    }
                    if (currentQuantity == 10 && action == 'increase') {
                        alert('Limit exceed')
                    }

                    console.log(stockQty);
                    // Modify the quantity based on the action
                    const newQuantity = (action === 'decrease' && currentQuantity > 1) ? currentQuantity - 1 :
                        (action === 'increase' && currentQuantity < stockQty && currentQuantity < 10) ? currentQuantity + 1 :
                            currentQuantity;
                    // console.log(newQuantity);



                    // Update the input field with the new quantity
                    quantityInput.value = newQuantity;

                    // Send the updated quantity to the server
                    updateQuantity(productId, newQuantity);

                });
            });


            function updateQuantity(productId, newQuantity) {
                const url = '/updateQuantity'; // Update this URL according to your server route
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ productId, newQuantity })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.priceTotalQty) {
                            // console.log(data.priceTotalQty);
                            // Optionally update UI or show a success message
                            const totalPriceElement = document.getElementById(`totalPriceQty_${productId}`);
                            totalPriceElement.textContent = `₹${data.priceTotalQty}`;
                           
                        }
                        if (data.cartTotal) {

                            const subtotalElement = document.getElementById('subtotal');
                            subtotalElement.textContent = `₹${data.cartTotal}`;

                            const totalElement = document.getElementById('total');
                            totalElement.textContent = `₹${data.cartTotal}`;

                        }
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }
        // });




        
  // delete product from cart
// document.addEventListener('DOMContentLoaded', () => {
    // Add an event listener to handle product removal
    document.querySelectorAll('.fa-close').forEach((closeIcon) => {
        closeIcon.addEventListener('click', async (event) => {
            const productId = event.target.getAttribute('data-product-id');

            // Call a function to remove the product
            await removeProduct(productId);
        });
    });

    // Function to remove a product
    const removeProduct = async (productId) => {
        try {
            // Implement logic to remove the product from the server using an appropriate API endpoint
            const response = await fetch(`/removeProduct/${productId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
            });

            if (response.ok) {
                // Remove the product row from the UI
                const productRow = document.getElementById(`td1_${productId}`);
                if (productRow) {
                    productRow.remove();
                    // Reload the page to reflect the changes instantly
                    location.reload();
                } else {
                    console.error('Product row not found in the DOM');
                }
            } else {
                console.error('Failed to remove product from the server');
            }
        } catch (error) {
            console.error('Error removing product:', error);
        }
    };
});








</script>




    <%- include('../layouts/footer.ejs') %>