<%- include('../layouts/header.ejs') %>

    <style>
        .list-group-item.logout {
            color: #dc3545;
            background-color: #fff;
            /* Set background color for the logout link */
        }

        .list-group-item.logout:hover {
            color: #fff;
            background-color: #dc3545;
        }

        .list-group-item.active {
            background-color: #ffffff;
            color: #ad8b8b;
        }

        .list-group-item.active:hover {
            background-color: #cadbce;
            color: #be2f2f;
        }

        .star {
            color: red;
        }

        /* error message color */
        .error {
            color: red;
        }

        .error-message {
            color: red;
        }

        .row-bordered {
            border: none !important;
        }

        .card {
            border: none;
        }

        /* address manage portion style */
        .body-address {
            font-family: 'Arial', sans-serif;
            background-color: #f8f8f8;
            margin: 0;
            padding: 0;
        }

        #addressContainer {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            border-radius: 10px;
            /* background: linear-gradient(135deg, #fdfbfb, #ebedee); */
            /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
        }

        #addressDetails {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 20px;
        }

        .addressItem {
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            position: relative;
            transition: box-shadow 0.3s ease;
        }

        .addressItem:nth-child(even) {
            background-color: #f9f9f9;
            /* Alternate color for even items */
        }

        .addressItem:hover {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }

        .addressItem h3 {
            color: #333;
            margin-bottom: 10px;
        }

        .addressItem p {
            margin: 5px 0;
            font-size: 14px;
            color: #555;
        }

        button {
            background-color: #4caf50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

       #dlt {
        background-color: rgb(141, 23, 23);
            padding: 2px;
           margin-left: 650px;
        }
    </style>


    <!-- Page Preloder -->
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <!-- <a href="#">FAQs</a> -->
            </div>

        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="/img/icon/search.png" alt=""></a>
            <a href="#"><img src="/img/icon/heart.png" alt=""></a>
            <!-- <a href="#"><img src="/img/icon/cart.png" alt=""> </a> -->
            <a href="/cart"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512">
                    <path
                        d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
                </svg></a>

            <a href="/profile"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                    <path
                        d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z" />
                </svg></a>

        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Enjoy your shopping with us...</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Enjoy your each shopping with us...</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="#">Sign in</a>
                                <!-- <a href="#">FAQs</a> -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./home">
                            <h2 class="ShoeOne-head">ShoeOne</h2>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="./home">Home</a></li>
                            <li><a href="./shop">Shop</a></li>
                            <li><a href="./about">About Us</a></li>


                            <li><a href="./contact">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="/img/icon/search.png" alt=""></a>
                        <a href="#"><img src="/img/icon/heart.png" alt=""></a>
                        <!-- <a href="#"><img src="/img/icon/cart.png" alt=""> </a> -->
                        <a class="active" href="./cart"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="18"
                                viewBox="0 0 576 512">
                                <path
                                    d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
                            </svg></a>

                        <a href="/profile"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="14"
                                viewBox="0 0 448 512">
                                <path
                                    d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z" />
                            </svg></a>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Check Out</h4>
                        <div class="breadcrumb__links">
                            <a href="/home">Home</a>
                            <a href="/shop">Shop</a>
                            <span>Check Out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    


    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <div>
                    <div class="row">
                        <div class="col-lg-8 col-md-6">


                            <!-- added address showing start -->

                            <div class="card-body pb-2">
                                <div id="addressContainer" class="body-address">
                                    <input type="hidden" name="added-address" value="<%= addresses %>">
                                    <div id="addressDetails">
                                        <% addresses.forEach(function(address, index) { %>
                                            <div class="addressItem">
                                                <p>
                                                    <%= address.fullname %>
                                                </p>
                                                <p>
                                                    <%= address.mobile %>
                                                </p>
                                                <p>
                                                    <%= address.address %>
                                                </p>
                                                <p>
                                                    <%= address.pincode %>
                                                </p>
                                                <p>
                                                    <%= address.city %>
                                                </p>
                                                <p>
                                                    <%= address.state %>
                                                </p>

                                                <button type="button" id="dlt" data-address-id="<%= address._id %>"
                                                    class="delete-button ">Delete</button><br>

                                                <input type="radio" id="address1" data-address-id="<%= address._id %>"
                                                    class="forAddress" name="select" value="select">
                                                <label for="address1">Select Address</label>
                                            </div>
                                            <% }); %>
                                    </div>
                                </div>
                            </div>


                            <!-- added address showing end -->

                            <h6 class="coupon__code"><span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click
                                    here</a> to enter your code</h6>
                            <h6 class="checkout__title">Billing Details</h6>
                            <!-- add address begin -->

                            <div class="card-body pb-3">
                                <form id="addressForm" novalidate>
                                    <div class="form-group">
                                        <label class="form-label">Full Name <span class="star">*</span></label>
                                        <input type="text" class="form-control" name="fullname" id="fullname"
                                            placeholder="full name" required>
                                        <div id="fullnameError" class="error"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Mobile <span class="star">*</span></label>
                                        <input type="text" class="form-control" name="mobno" id="mobno"
                                            placeholder=" mobile number" required pattern="[0-9]{10}">
                                        <div id="mobnoError" class="error"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Address <span class="star">*</span></label>
                                        <input type="text" class="form-control" name="address" id="address"
                                            placeholder="address" required>
                                        <div id="addressError" class="error"></div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label class="form-label">Pincode <span class="star">*</span></label>
                                            <input type="text" class="form-control" name="pincode" id="pincode"
                                                placeholder="pincode" required pattern="[0-9]{6}">
                                            <div id="pincodeError" class="error"></div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="form-label">Town/City <span class="star">*</span></label>
                                            <input type="text" class="form-control" name="city" id="city"
                                                placeholder="your city" required>
                                            <div id="cityError" class="error"></div>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label class="form-label">State <span class="star">*</span></label>
                                        <input type="text" class="form-control" name="state" id="state"
                                            placeholder="your state" required>
                                        <div id="stateError" class="error"></div>
                                    </div>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-success btn-sm mt-3 px-5 py-2"
                                            onclick="validateForm()" id="addAddress">Save Address</button>
                                    </div>
                                </form>
                            </div>

                            <!-- add address end -->

                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4 class="order__title">Your order</h4>
                                <div class="checkout__order__products"><b>Product</b> <span><b>Total</b></span></div>
                                <% cartData.products.forEach(function(cart, index){%>
                                    <ul class="checkout__total__products">
                                        <li>
                                            <%= index+1 %>. <%= cart.productId.productName %> <b>:</b> <span>₹<%=
                                                            cart.productId.Price * cart.quantity %></span>
                                        </li>

                                    </ul>
                                    <% }); %>
                                        <ul class="checkout__total__all">
                                            <li>Subtotal <span>
                                                    <%= cartTotal%>
                                                </span></li>
                                            <li>Total <span>
                                                    <%= cartTotal%>
                                                </span></li>
                                        </ul>
                                        <div class="checkout__input__checkbox">
                                            <label for="COD">
                                                Cash on delivery
                                                <input type="checkbox" id="COD" class="checkingBox" value="COD">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>

                                        <!-- <div class="checkout__input__checkbox">
                                            <label for="payment">
                                                Check Payment
                                                <input type="checkbox" id="payment">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div> -->
                                        <div class="checkout__input__checkbox">
                                            <label for="paypal">
                                                Paypal
                                                <input type="checkbox" id="paypal" class="checkingBox" value="online">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>

                                        <button type="submit" class="site-btn place-order">PLACE ORDER</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->


    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#">
                                <h2 class="ShoeOne-foot">ShoeOne</h2>
                            </a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="/img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->


    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>

    <script>
        // *****************************Add address************************************************
        document.addEventListener('DOMContentLoaded', () => {

            const addressBtn = document.getElementById('addAddress');
            addressBtn.addEventListener('click', addAddress);

            async function addAddress() {
                event.preventDefault()
                const addAddressData = {
                    fullname: document.getElementById('fullname').value,
                    mobno: document.getElementById('mobno').value,
                    address: document.getElementById('address').value,
                    pincode: document.getElementById('pincode').value,
                    city: document.getElementById('city').value,
                    state: document.getElementById('state').value,
                };

                // Validate form data
                const isValid = validateForm(addAddressData);

                if (isValid) {
                    try {
                        const response = await fetch('/addressAdd', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ addAddress: addAddressData })
                        });

                        const data = await response.json();
                        if (data.message) {

                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: data.message,
                                showConfirmButton: false,
                                timer: 1500
                            });
                            // Clear form fields after successful submission
                            location.reload()
                            clearFormFields();
                        } else {
                            Swal.fire({
                                position: 'center',
                                icon: 'info',
                                title: data.error,
                                showConfirmButton: false,
                                timer: 1500
                            });

                        }
                    } catch (error) {
                        console.error(error);
                    }
                }
            }

            function validateForm(data) {
                clearErrors();

                // Validate each field
                if (!data.fullname || !/^[a-zA-Z]+(?:\s[a-zA-Z]+)*$/.test(data.fullname)) {
                    showError('fullnameError', 'Please enter your full name with valid format');
                    return false;
                }


                if (!data.mobno || !/^\d{10}$/.test(data.mobno)) {
                    showError('mobnoError', 'Please enter a valid 10-digit mobile number');
                    return false;
                }

                if (!data.address || !/^[a-zA-Z]+(?: [a-zA-Z]+)*(?: \([^)]+\))?$/.test(data.address)) {
                    showError('addressError', 'Please enter a valid address');
                    return false;
                }


                if (!data.pincode || !/^\d{6}$/.test(data.pincode)) {
                    showError('pincodeError', 'Please enter a valid 6-digit pincode');
                    return false;
                }

                if (!data.city || !/^[^\s][a-zA-Z\s&'-]*$/.test(data.city)) {
                    showError('cityError', 'Please enter a valid address');
                    return false;
                }

                if (!data.state || !/^[a-zA-Z]+$/.test(data.state)) {
                    showError('stateError', 'Please enter your state');
                    return false;
                }

                return true;
            }

            function showError(elementId, message) {
                const errorElement = document.getElementById(elementId);
                if (errorElement) {
                    errorElement.textContent = message;
                    errorElement.classList.add('error'); // Add the 'error' class
                }
            }

            function clearErrors() {
                const errorElements = document.querySelectorAll('.error');
                errorElements.forEach((element) => {
                    element.textContent = '';
                });
            }

            function clearFormFields() {
                // Clear each form field
                document.getElementById('fullname').value = '';
                document.getElementById('mobno').value = '';
                document.getElementById('address').value = '';
                document.getElementById('pincode').value = '';
                document.getElementById('city').value = '';
                document.getElementById('state').value = '';

                // Clear any existing error messages
                clearErrors();
            }
        });




        // **************************place order checking*************************************
        document.querySelector('.place-order').addEventListener('click', orderPl);

        async function orderPl() {

           
            // select address
            let addressId=null //address id  taking

            let addressChecked =false
            let addressInputs = document.querySelectorAll('.forAddress')
            addressInputs.forEach((input)=>{
                if (input.checked) {
                    addressChecked = true;
                    addressId = input.getAttribute('data-address-id')
                    console.log(addressId);
                    console.log(input.parentNode);
                }
            })

            if (!addressChecked) {
                Swal.fire("Please select the address for delivery!");
                // alert("Please select the address for delivery");
                return false;
            }
            //End of select address


            let paymentmethod=null
            // delivery type checking
            let deliveryTypeChecked =false;
            let deliveryType = document.querySelectorAll('.checkingBox')
            deliveryType.forEach((checkInput)=>{
                if (checkInput.checked) {
                    deliveryTypeChecked = true
                    paymentmethod=checkInput.value
                    console.log(paymentmethod);
                    console.log(checkInput.parentNode);
                }
            })

            if (!deliveryTypeChecked) {
                Swal.fire("Your Delivery  type is not selected, Please select that!");
                // alert("Your Delivery  type is not selected, Please select that");
                return false;
            }
            //End of delivery type checking

            try {
                const response = await fetch('/placeOrder', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ addressId ,paymentType: paymentmethod})
                });

                const data = await response.json();

                if (data.message) {
                    console.log("Product added to cart");
                    // Swal.fire({
                    //             position: 'center',
                    //             icon: 'success',
                    //             title: data.message,
                    //             showConfirmButton: false,
                    //             timer: 1500
                    //         });
                    window.location.href = "/successOrder";
                            
                } else {
                    Swal.fire("Something went wrong!");
                }
            } catch (error) {
                // Handle error
                console.error("Error during fetch:", error);
            }
        }



 // *******************delete address from address manager***********************************

 document.querySelectorAll('.delete-button').forEach((button) => {
            button.addEventListener('click', () => {
                let addressId = button.getAttribute('data-address-id');
                console.log(addressId);
                // let url ='/deleteAddress'
                fetch('/deleteAddress/', {
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ addressId })
                }).then(response => {
                    return response.json();
                }).then(data => {
                    if (data.message) {
                        console.log(data.message);

                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: data.message,
                            showConfirmButton: false,
                            timer: 1500
                        });
                        button.parentNode.remove()
                        // location.reload()

                    } else {
                        Swal.fire({
                            position: "center",
                            icon: "error",
                            title: data.error,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                }).catch(error => {
                    console.log(error);
                });
            });
        });



    </script>




    <%- include('../layouts/footer.ejs') %>