<%- include('../layouts/header.ejs') %>
    <style>
        #btnPage {
            color: rgb(0, 0, 0);
            /* background-color: rgb(146, 102, 102); */

            padding-right: 6px;
            border-radius: 20px;
            border: 1px solid black;
        }

        /* #btnPage:hover {
            color: rgb(146, 102, 102);
            background-color: rgb(255, 255, 255);
        } */
    </style>




    <!-- Page Preloder -->
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <!-- <a href="#">FAQs</a> -->
            </div>

        </div>
        <div class="offcanvas__nav__option">
            <!-- <a href="#" class="search-switch"><img src="/img/icon/search.png" alt=""></a> -->
            <a href="#"><img src="/img/icon/heart.png" alt=""></a>

            <a href="./cart"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512">
                    <path
                        d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
                </svg>
                <% if (cartItemCount> 0) { %>
                    <span
                        class="position-absolute top-0 start-100 translate-middle px-1 border border-light rounded-circle"
                        style="background-color: red; font-size: 10px">
                        <%= cartItemCount %>
                            <span class="visually-hidden">New alerts</span>
                    </span>
                    <% } %>
            </a>
            <a href="/profile"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                    <path
                        d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z" />
                </svg></a>

        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Enjoy your shopping with us...</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Enjoy your each shopping with us...</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="#">Sign in</a>
                                <!-- <a href="#">FAQs</a> -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./home">
                            <h2 class="ShoeOne-head">ShoeOne</h2>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="./home">Home</a></li>
                            <li class="active"><a href="./shop">Shop</a></li>
                            <li><a href="./about">About Us</a></li>
                            <!-- <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./about.html">About Us</a></li>
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                             -->
                            <li><a href="./contact">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <!-- <a href="#" class="search-switch"><img src="/img/icon/search.png" alt=""></a> -->
                        <a href="#"><img src="/img/icon/heart.png" alt=""></a>
                        <!-- <a href="#"><img src="/img/icon/cart.png" alt=""> </a> -->
                        <a href="./cart"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="18"
                                viewBox="0 0 576 512">
                                <path
                                    d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
                            </svg>
                            <% if (cartItemCount> 0) { %>
                                <span
                                    class="position-absolute top-0 start-100 translate-middle px-1 border border-light rounded-circle"
                                    style="background-color: red; font-size: 10px">
                                    <%= cartItemCount %>
                                        <span class="visually-hidden">New alerts</span>
                                </span>
                                <% } %>
                        </a>

                        <a href="/profile"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="14"
                                viewBox="0 0 448 512">
                                <path
                                    d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z" />
                            </svg></a>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->





    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="./home">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <form action="#">
                                <input type="text" value="<%= searchQuery %>" placeholder="Search..." name="search">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                        </div>
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show active" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <!-- <% if(category) {%> -->
                                                <ul class="nice-scroll">
                                                    <% for(let i=0;i< category.length;i++) {%>

                                                        <li><a href="/shop?id=<%= category[i]._id %>">
                                                                <%= category[i].categoryName %>
                                                        </li></a>
                                                        <%}%>
                                                            <!-- <%}%> -->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse active" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    <li><a href="#">Louis Vuitton</a></li>
                                                    <li><a href="#">Chanel</a></li>
                                                    <li><a href="#">Hermes</a></li>
                                                    <li><a href="#">Gucci</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                    </div>
                                    <div id="collapseThree" class="collapse " data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__price">
                                                <ul>
                                                    <li><a href="#"> ₹0.00 - ₹50.00</a></li>
                                                    <li><a href="#"> ₹50.00 - ₹100.00</a></li>
                                                    <li><a href="#"> ₹100.00 - ₹150.00</a></li>
                                                    <li><a href="#"> ₹150.00 - ₹200.00</a></li>
                                                    <li><a href="#"> ₹200.00 - ₹250.00</a></li>
                                                    <li><a href="#">250.00+</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                                    </div>
                                    <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__size">
                                                <label for="xs">4
                                                    <input type="radio" id="xs">
                                                </label>
                                                <label for="sm">5
                                                    <input type="radio" id="sm">
                                                </label>
                                                <label for="md">6
                                                    <input type="radio" id="md">
                                                </label>
                                                <label for="xl">7
                                                    <input type="radio" id="xl">
                                                </label>
                                                <label for="2xl">8
                                                    <input type="radio" id="2xl">
                                                </label>
                                                <label for="xxl">9
                                                    <input type="radio" id="xxl">
                                                </label>
                                                <label for="3xl">3xl
                                                    <input type="radio" id="3xl">
                                                </label>
                                                <label for="4xl">4xl
                                                    <input type="radio" id="4xl">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>Showing 1–12 of 126 results</p>
                                </div>
                            </div> -->
                            <div class="col-lg-6 col-md-6 col-sm-6">

                                <div class="shop__product__option__right">
                                    <p>Sort by Price:</p>
                                    <form action="/shop" method="get">
                                        <select name="sortOption" onchange="this.form.submit()">
                                            <option value="" <% if (sortOption==='' ) { %>selected<% } %>>Random
                                            </option>
                                            <option value="lowToHigh" <% if (sortOption==='lowToHigh' ) { %>selected<% }
                                                    %>>Low To High</option>
                                            <option value="highToLow" <% if (sortOption==='highToLow' ) { %>selected<% }
                                                    %>>High To Low</option>
                                        </select>
                                    </form>
                                </div>
                                <!-- <div class="shop__product__option__right">
                                    <p>Sort by Price:</p>
                                    <select>
                                        <option value="">Random</option>
                                        <option value="">Low To High</option>
                                        <option value="">High To Low</option>
                                    </select>
                                </div> -->
                            </div>
                        </div>

                    </div>
                    <!-- <span class="label">Sale</span> -->

                    <hr>
                    <div class="row">
                        <% fullProducts.forEach((product, index)=> { %>
                            <% if (product.is_listed===true) { %>
                                <input type="hidden" name="id" value="<%= fullProducts._id %>">
                                <div class="col-lg-4 col-md-6 col-sm-6 ">
                                    <div class="product__item  ">
                                        <!-- <div class="product_item_pic set-bg"> -->
                                        <div class="product_item_pic set-bg ">
                                            <a href="/productDetail?id=<%=product._id%>">
                                                <img class="product_item_pic set-bg "
                                                    src="/Image/<%= product.image[0] %>" alt=""
                                                    style="width: 200px; height: 200px; border-radius: 5px;"></a>
                                            <!-- Rest of your code -->
                                        </div>
                                        <div class="product__item__text">
                                            <h6>&nbsp;&nbsp;&nbsp;
                                                <%= product.productName %>
                                            </h6>

                                            <% if(typeof product.stock !=="undefined" && product.stock>0) {%>
                                                <a type="button" class="btn add-cart"
                                                    data-prod-id="<%= product._id %>">+
                                                    Add To Cart</a>
                                                <% } else { %>
                                                    <a class=" add-cart">
                                                        &nbsp;&nbsp; &nbsp;&nbsp; No stock </a>
                                                    <% } %>

                                                        <div class="rating">
                                                            <% for (let i=0; i < product.ratings.star; i++) { %>
                                                                <i class="fa fa-star"></i>
                                                                <% } %>
                                                                    <% for (let i=product.ratings.star; i < 5; i++) { %>
                                                                        <i class="fa fa-star-o"></i>
                                                                        <% } %>
                                                        </div><br>
                                                        <h5>&nbsp;&nbsp;&nbsp; ₹<%= product.Price %>/-
                                                        </h5>

                                        </div>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href=""><img
                                                src="/img/icon/heart.png" alt=""></a>
                                        <!-- <div><a href=""> <i class="fa-regular fa-heart"></i></a></div> -->
                                    </div>

                                </div>
                                <% if ((index + 1) % 3===0) { %>
                    </div>
                    <div class="row">
                        <% } %>
                            <% } %>
                                <% }); %>
                    </div>


                    <div class="text-center">
                        <% for (let j = 1; j <= totalPage; j++) { %>
                            <a class="btn" id="btnPage" href="?id=<%= id %>&page=<%= j %>&sortOption=<%= sortOption %>&search=<%= searchQuery %>">
                                <%= j %> &nbsp;&nbsp;
                            </a>
                        <% } %>
                    </div>
                    

                    <!-- pagination -->

                    <!-- <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                <a class="active" href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <span>...</span>
                                <a href="#">21</a>
                            </div>
                        </div>
                    </div> -->
                </div>

            </div>
    </section>
    <!-- Shop Section End -->




    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#">
                                <h2 class="ShoeOne-foot">ShoeOne</h2>
                            </a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="/img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->


    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>


    <script>
        document.querySelectorAll('.add-cart').forEach((btn) => {
            btn.addEventListener('click', addToCartFn);

            async function addToCartFn() {
                let prodID = btn.getAttribute('data-prod-id');

                try {
                    const response = await fetch('/addToCart', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ prodID })
                    });

                    const data = await response.json();

                    if (data.message) {
                        // Handle success
                        console.log("Product added to cart");
                        // alert(data.message)
                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: data.message,
                            showConfirmButton: false,
                            timer: 1500
                        });
                        setTimeout(function () {
                            location.reload()
                        }, 800);

                    } else {
                        Swal.fire({
                            position: "center",
                            icon: "info",
                            title: data.msg,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                } catch (error) {
                    // Handle error
                    console.error(error);
                }
            }
        });
    </script>



    <%- include('../layouts/footer.ejs') %>